{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="card mb-3"><div class="card-header text-center"><h1>{{ title }}</h1></div></div>

    <section class="articles">

        {% for article in articles %}

        <div class="card mb-3 text-center">
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i')}} dans la categorie</div>
                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    {{ article.content | raw }}
                    <a href="{{ path('posts_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a></div>
            </article>
        </div>

        {% endfor %}

    </section>

{% endblock %}
